#chat
{
    background-color: #ffffff;
    position: fixed;
    min-width: 270px;
    width: 20%;
    height: 100%;
    
    right: 0px;
    top: 0px;
}

#abovechat
{
    position: relative;
    height: 7.5%;
    min-height: 30px;
    max-height: 45px;
    text-align: center;
    border-bottom: solid;
    border-bottom-width: 1px;
}

#abovechat p
{
    position: relative;
    top: 5px;
    margin: 0px;
    padding: 0px;
}

#abovechat input
{
    position: relative;
    top: 20%;
    margin: 0px;
    padding: 0px;
    height: 20px;
}

#abovechat input[type=submit]
{
    background-color: #6441a4;
    color: white;
    border: none;
    height: 24px;
    width: 40px;
}

#chattext
{
    position:relative;
    height: 92.5%;
    overflow-y: auto;
}

/* styles the chat scrollbar for the browsers that supports webkit */
#chattext::-webkit-scrollbar
{
    width: 4px;
    border-radius: 2px;
}

#chattext::-webkit-scrollbar-thumb
{
    background-color: #484849;
    border-radius: 2px;
}

#aboveinput
{
    height: 90%;
}

#input
{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 15%;
    min-height: 40px;
    max-height: 100px;
}

#textfield
{
    position: absolute;
    height: 50%;
    width: 95%;
    left: 2.5%;
    
    border: solid;
    border-width: 1px;
    border-color: gray;
}

#chatButton
{
    position: absolute;
    height: 30%;
    width: 15%;
    
    right: 2.5%;
    top: 60%;
    
    background-color: #6441a4;
    color: white;
    border: none;
}


#settingsButton
{
    position: absolute;
    height: 30%;
    width: 20%;
    
    left: 2.5%;
    top: 60%;
    
    background-color: #6441a4;
    color: white;
    border: none;
}






/* text shit */
p
{
    padding: 0px;
    margin: 7px;
}

.username
{
    font-weight: bold;
}




#settings
{
    color: black;
    position: absolute;
    z-index: 1000000;
    background-color: white;
    width: 65%;
    height: 280px;
    
    bottom: 12%;
    left: 2.5%;
    
    border: solid;
    border-width: 1px;
}

#settings h3
{
    position: relative;
    
    text-align: center;
    font-weight: bold;
    
    margin-top: 6%;
    margin-bottom: 0px;
    font-size: 18px;
    
    padding-left: 0px;
    padding-right: 0px;
    
    border-bottom: solid;
    border-bottom-color: white;
}



#settings button
{
    position: relative;
    padding: 0px;
    margin: 2px;
    
    width: 90%;
    left: 5%;
    height: 15%;
}

#settings select
{
    position: relative;
    width: 90%;
    left: 5%;
}



li
{
    list-style-type: none;
}





/* to the left of chat */
#notchat
{
    position: absolute;
    width: 80%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    color: white;
}

#youtubelink
{
    position: absolute;
    left: 25%;
    width: 50%;
    font-size: 24px;
    top: 45%;
    
    border-radius: 4px;
}

#videoButton
{
    position: absolute;
    left: 65%;
    width: 10%;
    top: 50%;
    padding: 5px;
    
    border-radius: 4px;
}

#errormsg
{
    position: absolute;
    left: 25%;
    top: 45%;
    z-index: -1;
}

iframe
{
    padding: 0px;
    margin: 0px;
}

body
{
    background-color: #6441a4;
    margin: 0px;
    padding: 0px;
}

/* hides the scrollbar for browsers that supports webkit */
body::-webkit-scrollbar
{
    width: 0px;
}


/* range input style */
input[type=range] {
  position: relative;
  -webkit-appearance: none;
  margin: 0;
  width:  90%;
  left: 5%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  
  width: 100%;
  height: 8px;
  cursor: pointer;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 10px;
  border-radius: 3px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
